.wrapper_with_padding
  #docs.clearfix
    - if @docs.blank?
      %h2 Create now!
      %p Start your journey with us today
      %button= link_to 'Create Doc', new_doc_path
    - else
      - @docs.each do |doc|
        %a{href: (url_for(doc))}
          .doc
            %p.title= doc.title
            %p.date= "Last updated #{time_ago_in_words(doc.updated_at)} ago"
            %p.content= truncate(doc.content, length: 50)