.wrapper_with_padding
  #doc_show
    %h1.title= @doc.title
    %p= simple_format @doc.content

    .buttons
      = link_to 'Edit Doc', edit_doc_path(@doc), class: 'button'
      = link_to 'Delete', doc_path(@doc), method: :delete, data: { confirm: 'Sure?' }, class: 'button'