#banner
  .banner_content
    %h1 File Cabinet
    %p Clutter free, simple, pratical
    %button= link_to 'Enter', new_user_registration_path
%br
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p NYNY uses a Rack::Builder underneath to generate a proper Rack app when it is being run. Because of that, NYNY exposes the Builder's map method to allow fine grained low-level url mapping. The most common use case for that is to integrate sprockets into a NYNY app

#bottom_cta
  .wrapper
    %h2 Let's Go!
    %br
    %button= link_to 'Join now', new_user_registration_path

