!!!
%html
%head
  %title Cabinet
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
  = csp_meta_tag
%body
  %header
    .header_inner
      = link_to 'FileCabinet', root_path, id: 'logo'

      %nav
        - if user_signed_in?
          = link_to 'New Doc', new_doc_path
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
        - else
          = link_to 'Login', new_user_session_path

  %p.notice= notice
  %p.alert= alert

  = yield

